

<html>
<head>

    <title>Registrar Usuario</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
          rel="stylesheet" />
    <link href="~/Recursos/CSS/EstilosForm.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="formcontent">
                <!-- Pills content -->
                <div class="tab-content">
                   
                    <form action="@Url.Action("Registro", "Cuentas")" method="post">

                        <!-- Role input -->
                        <select class="form-select" aria-label="Default select example">
                          
                        </select>
                        
                        <br />

                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" name="Nombre" id="Nombre" class="form-control" />
                            <label class="form-label" for="Nombre">Nombre</label>
                        </div>

                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <input type="text" name="Apellido" id="Apellido" class="form-control" />
                            <label class="form-label" for="Apellido">Apellido</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" name="Email" id="Email" class="form-control" />
                            <label class="form-label" for="Email">Email</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" name="Password" id="Password" class="form-control" />
                            <label class="form-label" for="Password">Password</label>
                        </div>

                        <!-- Confirm Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" />
                            <label class="form-label" for="confirmPassword">Confirmar Password</label>
                        </div>

                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        }

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-3">Registrarse</button>
                    </form>
                    
                </div>
                <!-- Pills content -->
            </div>
        </div>
    </div>
</body>

<!-- MDB -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js">
</script>
</html>

